.App {
	/* text-align: center; */
	/* padding: 20px; */
	/* margin: 10px; */
	/* background-color: beige; */

	/* border-color: pink;
	border-width: 1px;
	border-style: solid; */
	max-width: 1080px;
	margin: 20px;
}

/* .RedBorder
{
	border-color: red;
	border-width: 1px;
	border-style: solid;	
} */
  
.ResponseData
{
	/* border-color: lightgray;
	border-width: 1px;
	border-style: solid; */
	/* margin: 10px; */
	padding-left: 10px; 
	/* display: inline; */
	/* width:100; */
	font-size: 80%;
	/* text-align: left; */
}
.ResponseData__item
{
	margin: 4px;
}
.ResponseData__title
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
}
.ResponseData__data
{
	/* border-color: royalblue;
	border-width: 1px;
	border-style: solid; */
}

.CloseApproachData
{
	border-color: darkgray;
	border-width: 1px;
	border-style: solid;
	/* display: inline; */
	font-size: 65%;
	/* padding:10px; */
	width:100%;
	/* margin:10px; */
	margin-top: 30px;
}
.CloseApproachData table
{
	width:100%;
}
.EstimatedDiameter
{
	border-color: darkgray;
	border-width: 1px;
	border-style: solid;
	/* display: inline; */
	/* font-size: 75%; */
	margin:10px;
	/* padding:10px; */
}

.EstimatedDiameter table
{
	width: 100%;
}
.OrbitialData
{
	/* border-color: lightgray;
	border-width: 1px;
	border-style: solid; */
	/* margin: 10px;
	padding: 10px; */
	width: 50%;
	/* display: inline; */
	font-size: 80%;
	padding-left: 10px; 
	/* text-align: left; */
}
.OrbitialData__item
{
	margin: 4px;
	/* padding: 4px; */

	/* border-color:purple;
	border-width: 1px;
	border-style: solid; */
	/* display: inline; */
	
}

.OrbitialData__item div
{
	/* display: inline-table; */
	/* text-align: left; */
}
.OrbitialData__title
{
	/* border-color:purple;
	border-width: 1px;
	border-style: solid; */
}
.OrbitialData__data
{
	/* border-color: pink;
	border-width: 1px;
	border-style: solid; */
}

.NeoFeed table
{
	width:100%
}

.NeoFeed
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
	padding: 10px;
	/* margin: 10px; */

	background: whitesmoke;
}	

table
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	font-size: 65%;
	/* border-collapse: collapse; */
	background: white
}
table th
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px; 
}
table td
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
}

.NeoBrowse
{
	/* border-color: lightblue;
	border-width: 1px;
	border-style: solid; */
	background: whitesmoke;
	padding:10px;
}

.NeoBrowse__details
{
	/* border-color: lightgoldenrodyellow;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	padding: 10px; */
}

.NeoBrowse__links
{
	/* border-color: lightseagreen;
	border-width: 1px;
	border-style: solid; */
}

.NeoBrowse__item
{
	/* border-color: lightseagreen;
	border-width: 1px;
	border-style: solid;

	text-align: left; */
}

.NeoLookup
{
	/* border-color: lightseagreen;
	border-width: 1px;
	border-style: solid;
	 */
	/* display: flex;
	flex-wrap: wrap; */
	/* -webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000; */
	padding:10px;
	background: whitesmoke;
}

.NeoLookup__Content
{
	display: flex;
	flex-wrap: wrap;
}

.NeoLookup__Panel
{
	width:48%;
}