.App {
  text-align: center;
}

.ResponseData
{
	/* border-color: aquamarine;
	border-width: 1px;
	border-style: solid; */
	
	font-size: 75%;
	text-align: left;
}
.ResponseData__item
{
	margin: 4px;
}
.ResponseData__title
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
}
.ResponseData__data
{
	/* border-color: royalblue;
	border-width: 1px;
	border-style: solid; */
}

.CloseApproachData
{
	border-color: blue;
	border-width: 1px;
	border-style: solid;
	font-size: 65%;
}
.EstimatedDiameter
{
	border-color: purple;
	border-width: 1px;
	border-style: solid;
	font-size: 75%;
}
.OrbitialData
{
	/* border-color: pink;
	border-width: 1px;
	border-style: solid; */
	font-size: 75%;
	text-align: left;
}
.OrbitialData__item
{
	margin: 4px;
	/* padding: 4px; */

	/* border-color:purple;
	border-width: 1px;
	border-style: solid; */
	/* display: inline; */
	
}

.OrbitialData__item div
{
	/* display: inline-table; */
	/* text-align: left; */
}
.OrbitialData__title
{
	/* border-color:purple;
	border-width: 1px;
	border-style: solid; */
}
.OrbitialData__data
{
	/* border-color: pink;
	border-width: 1px;
	border-style: solid; */
}

.NeoFeed
{
	border-color: lightblue;
	border-width: 1px;
	border-style: solid;
}

.NeoFeed table
{
	border-color: blue;
	border-width: 1px;
	border-style: solid;
	font-size: 65%;
	/* border-collapse: collapse; */
}
.NeoFeed table th
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
}
.NeoFeed table td
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.NeoBrowse
{
	border-color: lightblue;
	border-width: 1px;
	border-style: solid;
}

.NeoBrowse table
{
	border-color: blue;
	border-width: 1px;
	border-style: solid;
	font-size: 65%;
	/* border-collapse: collapse; */
}
.NeoBrowse table th
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
}
.NeoBrowse table td
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
}


.NeoBrowse__details
{
	border-color: lightgoldenrodyellow;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	padding: 10px;
}

.NeoBrowse__links
{
	border-color: lightseagreen;
	border-width: 1px;
	border-style: solid;
}

.NeoBrowse__item
{
	border-color: lightseagreen;
	border-width: 1px;
	border-style: solid;

	text-align: left;
}
