.App {
	/* text-align: center; */
	/* padding: 20px; */
	/* margin: 10px; */
	/* background-color: beige; */

	/* border-color: pink;
	border-width: 1px;
	border-style: solid; */
	max-width: 1080px;
	margin: 20px;
}

/* .RedBorder
{
	border-color: red;
	border-width: 1px;
	border-style: solid;	
} */
  
.ResponseData
{
	/* border-color: lightgray;
	border-width: 1px;
	border-style: solid; */
	/* margin: 10px; */
	padding-left: 10px; 
	/* display: inline; */
	/* width:100; */
	font-size: 80%;
	/* text-align: left; */
}
.ResponseData__item
{
	margin: 4px;
}
.ResponseData__title
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
}
.ResponseData__data
{
	/* border-color: royalblue;
	border-width: 1px;
	border-style: solid; */
}

.CloseApproachData
{
	border-color: darkgray;
	border-width: 1px;
	border-style: solid;
	/* display: inline; */
	font-size: 65%;
	/* padding:10px; */
	width:100%;
	/* margin:10px; */
	margin-top: 30px;
}
.CloseApproachData table
{
	width:100%;
}
.EstimatedDiameter
{
	border-color: darkgray;
	border-width: 1px;
	border-style: solid;
	/* display: inline; */
	/* font-size: 75%; */
	margin:10px;
	/* padding:10px; */
}

.EstimatedDiameter table
{
	width: 100%;
}
.OrbitialData
{
	/* border-color: lightgray;
	border-width: 1px;
	border-style: solid; */
	/* margin: 10px;
	padding: 10px; */
	width: 50%;
	/* display: inline; */
	font-size: 80%;
	padding-left: 10px; 
	/* text-align: left; */
}
.OrbitialData__item
{
	margin: 4px;
	/* padding: 4px; */

	/* border-color:purple;
	border-width: 1px;
	border-style: solid; */
	/* display: inline; */
	
}

.OrbitialData__item div
{
	/* display: inline-table; */
	/* text-align: left; */
}
.OrbitialData__title
{
	/* border-color:purple;
	border-width: 1px;
	border-style: solid; */
}
.OrbitialData__data
{
	/* border-color: pink;
	border-width: 1px;
	border-style: solid; */
}

.NeoFeed table
{
	width:100%
}

.NeoFeed
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
	padding: 10px;
	/* margin: 10px; */

	background: whitesmoke;
}	

table
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	font-size: 65%;
	/* border-collapse: collapse; */
	background: white
}
table th
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px; 
}
table td
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
}

.NeoBrowse
{
	/* border-color: lightblue;
	border-width: 1px;
	border-style: solid; */
	background: whitesmoke;
	padding:10px;
}
.NeoBrowse__tablecontainer
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
}
.NeoBrowse__pagination
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
	/* align-items: center */
}
.NeoBrowse__details
{
	/* border-color: lightgoldenrodyellow;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	padding: 10px; */
}

.NeoBrowse__links
{
	/* border-color: lightseagreen;
	border-width: 1px;
	border-style: solid; */
}

.NeoBrowse__item
{
	/* border-color: lightseagreen;
	border-width: 1px;
	border-style: solid;

	text-align: left; */
}

.NeoLookup
{
	/* border-color: lightseagreen;
	border-width: 1px;
	border-style: solid; */
	
	/* display: flex;
	flex-wrap: wrap; */
	/* -webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000; */
	padding:10px;
	background: whitesmoke;
}

.NeoLookup__Content
{
	display: flex;
	flex-wrap: wrap;
}

.NeoLookup__Panel
{
	width:48%;
}

.pagination_break
{
	background: lightgray;
}

.pagination_active
{
	/* border-color: indigo;
	border-width: 1px;
	border-style: solid; */
	
	color: white;
	background: lightslategrey
}

.pagination_page
{
	/* border-color: rebeccapurple;
	border-width: 1px;
	border-style: solid; */

	/* color: rebeccapurple; */
	/* background: white; */


}

.pagination_container
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid; */
	
	list-style-type: none;
	font-size: 70%;

	/* align-items: flex-end; */
	/* background: white; */

	display: inline-block;
}

.pagination_container ul
{
	display: inherit;
	padding: 5px;
}

.pagination_container li
{
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	display: inherit;
	/* display: inline-block; */
	
	padding: 5px;
}

.pagination_pagelink
{
	/* border-color: red;
	border-width: 1px;
	border-style: solid;

	background: red; */

}

.pagination_actvelink
{
	/* border-color: lightsalmon;
	border-width: 1px;
	border-style: solid; */

	/* background: lightsalmon; */
}

.pagination_previous
{
	/* border-color: lightgreen;
	border-width: 1px;
	border-style: solid; */

	/* background: lightgreen; */

	background: white;
}

.pagination_previouslink
{
	/* border-color: darkgoldenrod;
	border-width: 1px;
	border-style: solid; */

	/* color: red; */

	/* background: darkgoldenrod; */
}

.pagination_nextlink
{
	/* border-color: darkmagenta;
	border-width: 1px;
	border-style: solid; */
	/* color: red; */
	/* background: white; */
	/* background: darkmagenta; */
}

.pagination_disabled
{
	/* border-color: darkolivegreen;
	border-width: 1px;
	border-style: solid; */
	color: lightgray;
	background: white;
	/* background: darkolivegreen; */
}

.pagination_next
{
	/* border-color: darkgreen;
	border-width: 1px;
	border-style: solid; */
	/* background: darkgreen; */

	background: white;
}

.pagination_page
{
	/* border-color: darkcyan;
	border-width: 1px;
	border-style: solid; */

	/* background:  darkcyan; */
}